/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

video {
  width: 1000px;
  height: 1000px;
}

button {
  margin: 1;
  padding: 1;
}

.w3-tangerine {
  font-family: "Tangerine", serif;
}
